archive/
certs/
configs/
dashboards/
logstash/
01-generate_certificates.sh
02-generate_passwords.sh
03-generate_internal_users.sh
04-generate_roles.sh
05-generate_roles_mapping.sh
06-configure_dashboards.sh
07-configure_logstash.sh
08-configure_container_node.sh
09-configure_container_dashboards.sh
logstash-output-opensearch.gem